/.idea
/old
/public_html
/server
/www/wp-backups
/www/wp-admin
/www/wp-db
/www/wp-includes
/www/wp-keys
/www/wp-logs
/www/.htaccess_
/www/*.html
/www/wp-config.php
/www/wp-content
composer.lock
package-lock.json
*.zip
*.log
*.pdf
/www/*.txt
/www/*.php
